.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input{
    font-size: 1rem;
}
.user-cards{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(150px, 1fr));
    gap : 1rem;
    margin-top: 1rem;
}

.card{
    border : 1px solid gray;
    padding : 0.5rem
}

.hidden{
    display: none;
}

.card > .header{
    margin-bottom: .25rem;
    background-color: white;
}

.card > .body{
    font-size: .8rem;
    color: #777;
}